.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: #fafafa;
}

.signup-box {
  width: 350px;
  padding: 25px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.signup-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-box input {
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.signup-box button {
  padding: 12px;
  background: #4a6bff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.signup-box button:hover {
  background: #3d57d6;
}


.popup {
  position: fixed;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeInOut 2s ease forwards;
  z-index: 9999;
}

/* 팝업 부드럽게 나타났다 사라지게 */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
  15% {
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }
  85% {
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
}
