.custom-btn {
  padding: 12px;
  background: #4a6bff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.custom-btn:hover {
  background: #3d57d6;
}